.jumbotron {
	background-color: #eee;
	color: black;
	margin-top: 50px;
}


footer {
	padding: 20px 50px 0 50px;
	background-color: #eee;
	margin-bottom: 0px;
	margin-top: 20px;
}

.card-hotel {
	flex: 1 200px;
	margin-top: 50px;
}


.btn-reserv{
	width: 100%;
	border-radius: 0px;
}
.footer-address-icon {
	padding-right: 10px;
}

.tab-content{
	padding-top: 2px;
}