.jumbotron {
  background-color: #fca103;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  background-color: #f5f3f0;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 50px;
  margin-bottom: 10px; }

.card-title {
  color: #ff9100;
  font-size: 1.25rem; }

.btn-reserv {
  width: 100%;
  border-radius: 0px; }

.btn-outline-success {
  outline-color: #77d9b7; }

.btn-consulte {
  color: #77d9b7;
  border-color: #77d9b7; }
  .btn-consulte:hover {
    background-color: #77d9b7;
    color: white; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 0px; }

.tab-content {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
