@yellow: #fca103;
@gray: #f5f3f0;
@green: #77d9b7;

.margenes (@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.paddings (@top, @right, @bottom, @left){
  padding-top: @top;
  padding-right: $right;
  padding-bottom: @bottom;
  padding-left: @left;
}

.titulos (@color, @font-size){
  color: @color;
  font-size: @font-size;

}

.jumbotron {
  background-color: @yellow;
  color: black;
  .margenes (50px, 10px);
}

footer {
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  background-color: @gray;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 50px;
  margin-bottom: 10px; }

.card-title {
  color: #ff9100;
  font-size: 1.25rem; }

.btn-reserv {
  width: 100%;
  border-radius: 0px; }

.btn-outline-success {
  outline-color: #77d9b7; }

.btn-consulte {
  color: @green;
  border-color: @green; }
  .btn-consulte:hover {
    background-color: @green;
    color: white; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 0px; }

.tab-content {
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }
