$yellow: #fca103;
$gray: #f5f3f0;
$green: #77d9b7;

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin paddings ($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}

@mixin titulos ($color, $font-size){
	color: $color;
	font-size: $font-size;

}



.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes (50px, 10px);
}


footer {
	@include paddings (20px, 50px, 0px, 50px);
	background-color: $gray;
	@include margenes (10px, 0px);
}

.card-hotel {
	flex: 1 200px;
	@include margenes (50px, 10px);
}

.card-title {
	@include titulos (#ff9100, 1.25rem);

}

.btn-reserv{
	width: 100%;
	border-radius: 0px;
}

.btn-outline-success{
  outline-color: $green
 }

 .btn-consulte {
  color: $green;
  border-color: $green;
&:hover {
background-color: $green;
color: white;
   }
}

.footer-address-icon {
	@include paddings (0px, 50px, 0px, 0px);
}

.tab-content{
	@include paddings (2px, 0px, 0px, 0px);
}